{%extends 'core/base.html'%}
{% load comments %}
{%block title%}{{event.name}}{%endblock%}

	  {%block menu%}
          <ul class="nav">
            <li><a href="/">首页</a></li>
            <li class="active"><a href="#">活动</a></li>
            <li><a href="/lecturers/">讲师</a></li>
            <li><a href="/topics/">主题</a></li>
            <li><a href="http://techparty.org">博客</a></li>
            <li><a href="/about/">关于</a></li>
          </ul>
	  {%endblock%}

{%block content%}
{%if message %}
<ul class="messagelist">
<li>{{message}}</li>
</ul>
{%endif%}
<h2>{{event.name}}</h2>
<div>
  <div class="span15">
    <b>举行时间:</b>
    <span>
      <a href="#">{{event.start_time}}</a>
    </span>&nbsp;&nbsp;
    {%for tag in event.tags_array%}
    <span class="label success">{{tag}}</span>
    {%endfor%}
  </div>
  <br/>
    <div>
    {{event.intro|safe|linebreaks}}
    </div>
    <h3>主题</h3>
    {% for topic in topics %}
    <ul id="topic_list">
        <li class="topic"><a href="/topic/{{topic.id}}/">{{topic.title}}</a></li>
    </ul>
    {% endfor %}
    {% if not is_enroll %}
    <div id="enroll_button">
        <form method="POST" action="/enroll/{{event.id}}/">
    	    {% csrf_token %}
    	    <input type="hidden" name="eid" value="{{event.pk}}"/>   
            <input type="hidden" name="comment" value=" "/>
        	<input type="submit" class="btn large primary" value="我要参加！" />
        </form>
    </div>
    {% endif %}
</div>
{% if enrolls %}
<h3>他们会来参加</h3>
<ul class="media-grid">
{% for enroll in enrolls %}
  <li>
    <a href="/member/{{enroll.user.id}}/">
      <img src="{{enroll.user.get_profile.avatar_normal}}"
           alt="{{enroll.user.username}}" class="thumbnail"
           title="{{enroll.user.username}}" width="90" height="90"/>
    </a>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if photos %}
<h3>活动图片</h3>
{% for photo in photos %}
<div id="event_photos">
	<div class="event_photo">
        <a href="/member/{{photo.add_by.id}}">
            <img src="{{photo.thumbnail_image.url}}" alt="{{photo.name}}" />
        </a>
        <p>由<a href="/member/{{photo.add_by.id}}/">{{photo.add_by.username}}</a>添加</p>
	</div>
</div>

{% endfor %}
{% endif %}

{% get_comment_list for event as comment_list %}
{% if comment_list %}
<h2>七嘴八舌</h2>
{% render_comment_list for event %}
{% endif %}

{%endblock%}
