{%extends 'core/base.html'%}
{% load comments %}
{%block title%}{{event.name}}|珠三角技术沙龙 -- 是你的沙龙{%endblock%}
{%block extrastyle%}{{block.super}}

{%endblock%}
{%block path%}
&rsaquo;&nbsp;{{event.name}}
{%endblock%}
{%block content%}
{%if message %}
<ul class="messagelist">
<li>{{message}}</li>
</ul>
{%endif%}
<h1>{{event.name}}</h1>
<div>
    <div class="info">
        <b>举行时间:</b><span>{{event.start_time}}</span>&nbsp;|&nbsp;
        <b>标签:</b><span>{{event.tags}}</span>&nbsp;|&nbsp;
        
    </div>
    <div class="description">
    {{event.intro|safe|linebreaks}}
    </div>

    {% if not is_enroll %}
    <div id="enroll_button">
        <form method="POST" action="/enroll/{{event.id}}/">
    	    {% csrf_token %}
    	    <input type="hidden" name="eid" value="{{event.pk}}"/>   
            <input type="hidden" name="comment" value=" "/>
        	<input type="submit" value="我要参加！" />
        </form>
    </div>
    {% endif %}
</div>
<h2>主题</h2>
{% for topic in topics %}
    <ul id="topic_list">
        <li class="topic"><a href="/topic/{{topic.id}}/">{{topic.title}}</a></li>
    </ul>
{% endfor %}
{% if enrolls %}
<h2>他们会来参加</h2>
{% for enroll in enrolls %}
<div id="enroll_list">
    <div class="enroll">
        <a href="/member/{{enroll.user.id}}/">
            <img src="{{enroll.user.get_profile.avatar_normal}}" alt="{{enroll.user.username}}" title="{{enroll.user.username}}" width="48" height="48"/>
        </a>
        <p><a href="/member/{{enroll.user.id}}/">{{enroll.user.username}}</a></p>
    </div>
</div>
{% endfor %}
{% endif %}

{% if photos %}
<h2>活动图片</h2>
{% for photo in photos %}
<div id="event_photos">
	<div class="event_photo">
        <a href="/member/{{photo.add_by.id}}">
            <img src="{{photo.thumbnail_image.url}}" alt="{{photo.name}}" />
        </a>
        <p>由<a href="/member/{{photo.add_by.id}}/">{{photo.add_by.username}}</a>添加</p>
	</div>
</div>

{% endfor %}
{% endif %}

{% get_comment_list for event as comment_list %}
{% if comment_list %}
<h2>七嘴八舌</h2>
{% render_comment_list for event %}
{% endif %}

{%endblock%}
