{%extends 'core/base.html'%}
{%block content%}
      <div class="hero-unit">
        <h1>珠三角技术沙龙</h1>
	<br/>
	<p>
	  珠三角技术沙龙，是泛珠三角地区技术从业人员线上线下的综合技术交流平台，
	  属于你，属于我。
	</p>

      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>线下活动</h2>
	  <p>
	    多年来，我们一直坚持每个月举办线下的技术聚会的习惯，从原来的广州阵
	    营发展到现在在珠三角多个地市全面开花。
	  </p>
          <p><a class="btn" href="/events/">前往活动 &raquo;</a></p>

        </div>
        <div class="span5">
          <h2>沙龙讲师</h2>
	  <p>
	    沙龙发展到今天，不断的涌现出许多优先的讲师，他们是一线的程序员，架
	    构师，产品经理，甚至是创业者。
	  </p>
          <p><a class="btn" href="/lecturers/">前往讲师 &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>沙龙主题</h2>
	  <p>
	    经过两年多的积累，沙龙沉淀了大量高质量的技术类主题，涵盖了web、移动
	    应用开发、游戏等多个领域。
	  </p>
          <p><a class="btn" href="/topics/">前往主题 &raquo;</a></p>

        </div>
      </div>
{%endblock%}
